.App {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    & ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding-inline-start: 0;

        & li {
            margin-left: 0;
            padding-left: 0;
        }
    }

    & h1 {
        text-align: center;
    }
}

.chats {
    width: 40%;
}

.messages {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}